
@{
    ViewBag.Title = "Index";
}

<h2>Opciones de mi cuenta</h2>


<section class="cta-banner padding-component">
    <div class="grid grid-gap-md items-center">
        <div class="col-6@md">
            <div class="cta-banner__item padding-left-md has-padding@lg">
                <div class="text-component">
                    <h2>Banner title here</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                </div>

                <div class="margin-top-sm">
                    <div class="flex flex-wrap flex-gap-sm items-center">
                        <a href="#0" class="btn btn--primary">Download</a>
                        <a href="#0" class="color-inherit">Learn more</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-6@md">
            <div class="cta-banner__item cta-banner__item--img">
                <figure>
                    <img src="../../../app/assets/img/cta-banner/placeholder.svg" alt="Placeholder">
                </figure>
            </div>
        </div>
    </div>
</section>

