@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div style="text-align:center;background-color:orange;font-size:45px;">
        <b>abctutoria</b>
    </div>
    <div>
        <pre>
            Hola nuevo usuario
                Solo nos falta que verificar tu dirección de correo electronico para que este completo el registro!
                Click <a href="@ViewBag.ConfirmationLink">Aquí</a>
        </pre>
    </div>
</body>
</html>
